<div style="font-family: Helvetica,Arial,sans-serif;min-width:1000px;overflow:auto;line-height:2">
  <div style="margin:50px auto;width:70%;padding:20px 0\">
    <div style="border-bottom:1px solid #eee\">
      <a href="" style="font-size:1.6em;color: #00466a;text-decoration:none;font-weight:600">Hệ thống quản lý quảng cáo</a>
   </div>
    <p style="font-size:1.3em">Hi,</p>
    <p >Chào <b th:text="${name}">bạn</b>. Hệ thống ghi nhận có 1 yêu cầu cập nhật lại mật khẩu (quên mật khẩu) cho tài khoản có đăng ký gmail của bạn. Mã OTP là</p>
    <h2 style="background: #00466a;margin: 0 auto;width: max-content;padding: 0 10px;color: #fff;border-radius: 4px;" th:text="${otp}">OTP</h2>
    <p style="font-size:1.2em;">Mã OTP chỉ có hiệu lực trong vòng 15 phút, vui lòng nhập OTP để xác thực tài khoản. Mật khẩu mới sẽ được cập nhật tạm thời thành mã OTP nếu bạn xác thực thành công, vui lòng đổi lại mật khẩu ngay sau khi xác thực để tránh rủi ro nhất định</p>
    <p style="font-size:1.2em;">Kính chào,<br />Hệ thống quản lý quảng cáo</p>
    <hr style="border:none;border-top:1px solid #eee" />
    <div style="float:right;padding:8px 0;color:#aaa;font-size:0.8em;line-height:1;font-weight:300">
      <p>Ads management services</p>
      <p>Vietnam</p>
    </div>
  </div>
</div>